# Application
APP_SECRETE=
APP_WEB_URL=http://localhost:3000
APP_API_URL=http://localhost:3333

#MAil
MAIL_DRIVER=ethereal
MAIL_DRIVER_test=ethereal | googleSmtp

MAIL_USER=example@gmail.com
MAIL_PASSWORD=test
MAIL_NAME=Wylliam Bassos - Equipe Go Barber

# AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Storage = disk | s3
STORAGE_DRIVER=disk

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=
